<app-header></app-header>
<form>
  <div class="form-group">
    <select class="where" (change)="selectChangeHandler($event)">
      <option disabled>Chọn Khu Vực</option>
      <option value="HN">Hà Nội</option>
      <option value="HCM">Hồ Chí Minh</option>
      <option value="DN">Đà Nẵng</option>
    </select>
    <select class="where" (change)="selectChangeHandlerPro($event)">
      <option disabled>Chọn Danh Mục</option>
      <option value=1>Chợ Tốt Nhà</option>
      <option value=2>Chợ Tốt Xe</option>
      <option value=3>Đồ Điện Tử</option>
      <option value=4>Mẹ và bé</option>
      <option value=5>Nội ngoại thất, Đồ gia dụng</option>
      <option value=6>Thời trang, đồ dùng cá nhân</option>
      <option value=7>Giải trí, Thể thao, Sở thích</option>
      <option value=8>Thú cưng</option>
      <option value=9>Đồ dùng văn phòng</option>
      <option value=10>Việc làm</option>
      <option value=11>Du lịch, Dịch vụ</option>
    </select>

    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm cần đăng tin" [(ngModel)]="namePr"
      [ngModelOptions]="{standalone: true}" required>
    <input class="form-control" id="price" placeholder="Giá" type="number" min="0" [(ngModel)]="pricePr"
      [ngModelOptions]="{standalone: true}" required>
    <input type="text" class="form-control" placeholder="Nhập địa chỉ của bạn" [(ngModel)]="addrUser" [ngModelOptions]="{standalone: true}"
      required>
    <textarea class="form-control" id="info" placeholder="Thông tin sản phẩm " rows="5" [(ngModel)]="infoPr"
      [ngModelOptions]="{standalone: true}"></textarea>
    <div class="uploadimg">
      <img [src]="imageUrl">
      <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
    </div>
    <button class="post" (click)="postIfPr()">Đăng tin</button>
  </div>
</form>
<div class="foot">
  <app-footer></app-footer>
</div>