<table cellpadding="5px" cellspacing="10px" class="table">
  <caption class="listPro">Sản phẩm đang bán</caption>
  <tr class="listPro">
    <th>Tên Sản Phẩm</th>
    <th>Địa chỉ</th>
    <th>Giá</th>
  </tr>
  <tr *ngFor="let pro of products" (contextmenu)="onRightClick($event,pro.idProduct)" class="listPro">
    <td>{{pro.name}}</td>
    <td>{{pro.addr}}</td>
    <td>{{pro.price}}</td>
  </tr>
  <div class="menu-right">
    <ul>
      <li routerLink="/product/published/{{user.idUser}}/{{idProduct}}" class="item-menu-right"><a>Chi tiết</a></li>
      <li class="item-menu-right" (click)="selled()"><a>Đã bán</a></li>
      <li class="item-menu-right" (click)="delete(idProduct)"><a>Xóa</a></li>
    </ul>
  </div>
</table>