:host{
    .content{
        width: 400px;
        height: auto;
        margin: 0 auto;
        .infoUser{
            ul{
                li{
                    .stt{
                        display: hide;
                    }
                }
            }
        }
    }
}