:host{
    .content{
        width: 400px;
        height: auto;
        margin: 0 auto;
        .infoUser{
            ul{
                height: auto;
                padding-bottom: 30px;
                li{
                    list-style-type: none;
                    .stt{
                        display: hide;
                         
                    }
                }
            }
        }
    }
}