<app-header></app-header>
<div class="form">
  <div class="search">
    <input type="text" #key placeholder="Tìm kiếm sản phẩm">
  </div>

  <select id="where" (change)="selectChangeHandler($event)">
    <option disabled>Chọn Khu Vực</option>
    <option value="TQ">Toàn Quốc</option>
    <option value="HN">Hà Nội</option>
    <option value="HCM">Hồ Chí Minh</option>
    <option value="DN">Đà Nẵng</option>
  </select>
  <select id="where" (change)="selectChangeHandlerPro($event)">
    <option disabled>Chọn Danh Mục</option>
    <option value=12>Tất cả Danh mục</option>
    <option value=1>Chợ Tốt Nhà</option>
    <option value=2>Chợ Tốt Xe</option>
    <option value=3>Đồ Điện Tử</option>
    <option value=4>Mẹ và bé</option>
    <option value=5>Nội ngoại thất, Đồ gia dụng</option>
    <option value=6>Thời trang, đồ dùng cá nhân</option>
    <option value=7>Giải trí, Thể thao, Sở thích</option>
    <option value=8>Thú cưng</option>
    <option value=9>Đồ dùng văn phòng</option>
    <option value=10>Việc làm</option>
    <option value=11>Du lịch, Dịch vụ</option>
  </select>

  <button (click)="Search(key.value)" mat-stroked-button color="link">Search</button>

  <div class="nodata">
    <img src="./assets/nodata.png" alt="nodata">
  </div>
  <div class="product">
    <table cellpadding="5px" cellspacing="10px" class="table">
      <caption class="listPro">Tìm rao vặt</caption>
      <tr class="listPro">
        <th>Tên Sản Phẩm</th>
        <th>Địa chỉ</th>
        <th>Giá</th>
        <th>Liên hệ</th>
      </tr>
      <tr *ngFor="let pro of products">
        <td>{{pro.name}}</td>
        <td>{{pro.addr}}</td>
        <td>{{pro.price}}</td>
        <td	id="contact" (click)="contact(pro.idUser)"><button mat-stroked-button color="primary">Liên hệ</button></td>
      </tr>
    </table>
  </div>


</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>

<app-footer></app-footer>